<div class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="latter">
                <h6>ĐĂNG KÝ NHẬN MAIL</h6>
                <div class="sub-left-right">
                    <form id="frmNewsletter">
                        <input type="text" id="input-emailNewsLetter" value="Nhập email của bạn" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Nhập email của bạn';}" />
                        <input type="submit" value="ĐĂNG KÝ" />
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="latter-right">
                <p>THEO DÕI CHÚNG TÔI</p>
                <ul class="face-in-to">
                    <li><a href="https://www.facebook.com/hoangkhang0235" target=" _blank"><span> </span></a></li>
                    <li><a href="https://www.facebook.com/hoangkhang0235" target=" _blank"><span class="facebook-in"> </span></a></li>
                    <div class="clearfix"> </div>
                </ul>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-cate">
                <h6>Tại sao lại chọn chúng tôi</h6>
                <ul>
                    <li><a href="#">Đảm bảo chất lượng hàng hóa</a></li>
                    <li><a href="#">Tư vấn miễn phí</a></li>
                    <li><a href="#">Chính sách bảo hành tại nhà</a></li>
                    <li><a href="#">Đặt lợi ích khách hàng lên hàng đầu</a></li>

                </ul>
            </div>
            <div class="footer-bottom-cate bottom-grid-cat">
                <h6>Đối tác của chúng tôi</h6>
                <ul>
                    <li><a href="https://www.amazon.com/" target="_blank">Amazon</a></li>
                    <li><a href="https://www.alibaba.com/" target="_blank">Alibaba</a></li>
                    <li><a href="https://www.lazada.vn/" target="_blank">Lazada</a></li>
                    <li><a href="https://shopee.vn/" target="_blank">Shopee</a></li>
                    <li><a href="https://tiki.vn/" target="_blank">Tiki</a></li>
                </ul>
            </div>
            <div class="footer-bottom-cate">
                <h6>Chi nhánh cửa hàng</h6>
                <ul>
                    <li><a href="#">CN1: Trường ĐH Công nghệ thông tin, khu phố 6, phường Linh Trung, quận Thủ Đức, Tp.HCM <br></a></li>
                    <br>
                    <li><a href="#">CN2: 231 -233 Lê Thánh Tôn, Bến Thành, Quận 1, Tp.HCM <br></a></li>
                    <br>
                    <li><a href="#">CN3: 470 North Bridge Road, #05-12 Bugis Cube Singapore 188735 Singapore 229456 <br></a></li>
                    <br>
                </ul>
            </div>
            <div class="footer-bottom-cate cate-bottom">
                <h6>Liên hệ quảng cáo</h6>
                <ul>
                    <span class="glyphicon glyphicon-phone txtAds"> 0938-4xx-xxx</span>
                    <a href="mailto:hoangkhang0235@gmail.com"><p><span class="glyphicon glyphicon-envelope txtAds"> ngohuyengl@gmail.com</span></p></a>
                    <li class="temp"> <p class="footer-class txtAds">Design by <a href="http://w3layouts.com/" target="_blank">X</a> </p></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>